// Colors
$black-1: #222222;
$yellow-1: #f7c02e;
$black-2: #373737;
$blue-dark: #002e5b;
$gray-1: #e6e6e6;
$gray-2: #f3f3f3;
$gray-3: #686868;
$gray-4: #f8f8f8;
$white-1: #fff;
$red-1: red;
$red-2: #fdecea;
$green-1: #1e4620;
$green-2: #edf7ed;
