@import "../../scss/mixins";
@import "../../scss/reset";
@import "../../scss/variables";

.banner {
	height: calc(100vh - 7.5rem);

	background-image: url("https://cdn11.bigcommerce.com/s-wek9ye9/images/stencil/original/carousel/14/slideshow_1__17171.jpg?c=2");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__container {
		@include container;

		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__link {
		font-size: 1.6rem;
		font-weight: 600;
		letter-spacing: 2px;
		padding: 1.5rem 6rem;
		background-color: $black-1;
		border: 1px solid $black-1;
		color: $yellow-1;
		text-transform: uppercase;
		transition: 0.3s;

		&:hover {
			color: $white-1;
		}
	}
}
